<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duongame">

    <application
        android:allowBackup="true"
        android:icon="@drawable/comicz"
        android:label="${APP_NAME}"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:theme="@style/ExplorerTheme">
        <activity android:name="com.duongame.comicz.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.duongame.viewer.activity.PhotoActivity"
            android:theme="@style/ComicViewerTheme" />
        <activity
            android:name="com.duongame.viewer.activity.ZipActivity"
            android:theme="@style/ComicViewerTheme" />
        <activity
            android:name="com.duongame.viewer.activity.TextActivity"
            android:theme="@style/ComicViewerTheme" />
        <activity
            android:name="com.duongame.viewer.activity.PdfActivity"
            android:theme="@style/ComicViewerTheme" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>
    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- admob -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- shortcut -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

</manifest>