<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duongame">

    <application
        android:name=".AnalyticsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/comicz"
        android:label="${APP_NAME}"
        android:largeHeap="true"
        android:theme="@style/ExplorerTheme">

        <activity android:name=".activity.main.ComicActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.SettingActivity"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".activity.viewer.PhotoActivity"
            android:theme="@style/ComicViewerTheme" />
        <activity
            android:name=".activity.viewer.ZipActivity"
            android:theme="@style/ComicViewerTheme" />
        <activity
            android:name=".activity.viewer.TextActivity"
            android:theme="@style/ComicViewerTheme" />
        <activity
            android:name=".activity.viewer.PdfActivity"
            android:theme="@style/ComicViewerTheme" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- Dropbox -->
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-k78nqdn19p4864o" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- admob -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- shortcut -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <!--<meta-data-->
    <!--android:name="io.fabric.ApiKey"-->
    <!--android:value="479ae7d868a353eb8da82e059fd1a04418af3cf3" />-->
    <meta-data
        android:name="firebase_crashlytics_collection_enabled"
        android:value="true" />

</manifest>