*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.idea
*obj
*.o
*.o.d
*.apk
output.json
*.properties
Explorer/gradlew.bat
Explorer/gradlew
Explorer/gradle/wrapper/gradle-wrapper.jar
