*.iml
.gradle
.DS_Store
.externalNativeBuild
.idea
.project
.settings
.classpath
*obj
*.o
*.o.d
*.apk
*.properties
output.json
/local.properties
/.idea
/build
/captures
Explorer/gradlew.bat
Explorer/gradlew
Explorer/gradle/wrapper/gradle-wrapper.jar
