<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duongame">

    <application
        android:name=".AnalyticsApplication"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@drawable/explorer"
        android:label="${APP_NAME}"
        android:screenOrientation="portrait"
        android:theme="@style/ExplorerTheme">

        <activity android:name=".activity.FileActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.PhotoActivity"
            android:theme="@style/ComicViewerTheme" />
        <activity
            android:name=".activity.ZipActivity"
            android:theme="@style/ComicViewerTheme" />
        <activity
            android:name=".activity.TextActivity"
            android:theme="@style/ComicViewerTheme" />
        <activity
            android:name=".activity.PdfActivity"
            android:theme="@style/ComicViewerTheme" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- admob -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="479ae7d868a353eb8da82e059fd1a04418af3cf3" />

</manifest>